.form {
	width: 500px;
	background-color: #f7f7f7; 
	border: 1px solid #ccc;
}

div.register_form {
	display: none;
}
#td_container{
	padding-top: 5px;
}
#mainContent{
	padding-top: 5px;
}
#sidebar{
	float: left;
	width: 18%;
	height: 80px;
	padding-left: 40px;
	background: #f7f7f7;
}
#sidebar li a{
	padding: 3px 5px;
}
#mainContent {
	float: right;
	width: 72%;
}
#mainContent #head{
	background: #f7f7f7;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	padding: 5px;
}
#mainContent #head {
	float: left;
}
#mainContent #head #add_more {
	float: right;
}
